.light_palette {
    color: #0A369D;
    color: #D53675;
    color: #0B9290;
    color: #D086F5;
    color: #E1B211;
    color: #531014;
    color: #4472CA;
    color: #C1292E;
    color: #356E46;
    color: #610DA7;
    color: #2CCB7A;
}

